
	<ul>
		<% Concert.all.each do |concert|%>
			<li class="links"><%= link_to(concert.name, concert_path(concert.id))%>
			<%end%>
			</li>
		</ul>
			<ul>
				<% @today_concert.each do |concert|%>
				<li class="links"><%= link_to(concert.name, concert_path(concert.id))%>
					<%= concert.description%>
				</li>
				<%= image_tag concert.logo.url(:large) %>
				<%end%>
			</ul>