<div class="container">
	<div class="sidebar">
		<h2>Upcoming Events</h2>
	<ul>
		<% @concert.each do |concert|%>
			<li class="links"><%= link_to(concert.name, concert_path(concert.id))%>
			<%end%>
			</li>
		</ul>
	</div>
	<div class="today_event">
		<article>
		<h1>Today's Events</h1>
			<ul>
				<% @today_concert.each do |concert|%>
				<li class="links"><%= link_to(concert.name, concert_path(concert.id))%>
				<%end%>
				</li>
			</ul>
		</article>
	</div>





</div>