<!DOCTYPE html>
<html>
<head>
  <title>Concerts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
	<nav>
		<ul>
			<li class="navbar">Concerts</li>
			<li class="navbar">Locations</li>
			<li class="navbar">About us</li>
			<li class="navbar">Contact</li>
		</ul>
	</nav>
</header>
<div class="container">
<%= yield %>
</div>
</body>
</html>
