<!DOCTYPE html>
<html>
<head>
  <title>Concerts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
	<nav>
		<ul>
			<li class="navbar">Concerts</li>
			<li class="navbar">Add new</li>
			<li class="navbar">About us</li>
			<li class="navbar">Contact</li>
		</ul>
	</nav>
</header>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			
		</div>
		<div class="sm-8">
			
		</div>
	</div>
	
	<div class="sidebar">
		<h2 class="title">Upcoming Events</h2>
	
	</div>
	<div class="today_event">
		<h1 class="title">Today's Events</h1>
	</div>

</div>
<%= yield %>

</body>
</html>
